* body{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}
#topoContaineir{
    width: 980px;
    height: 200px;
    margin: auto;
   /* background-color: brown; */
}
#logo{
    width: 100px;
    height: 100px;
    float: left;
   /* background-color: black; */
}
#logo img{
    float: left;
    padding: 10px 10px 10px 10px;
}
#menu{
    width: 980px;
    height: 200px;
    float: right;
    background-color: rgb(255, 0, 0);
    text-align: center;
    word-spacing: 10px;
    color: white;
}
#menu a{
    color: rgb(5, 0, 0);
    text-decoration: none;    
}
#menu a:hover{
    color: rgb(55, 43, 226);
}

.espacoTopo{
    padding-top: 50px;
}
#banner{
    width: 100%;
    height: 400px;
   /* background-color: brown; */
    margin: auto;
    margin-top: 50px;
}
#conteudoSite{
    width: 980px;
    height: 500px;
   /* background-color: cadetblue; */
    margin: auto;
}
#esquerda{
    width: 450px;
    height: 500px;
    float: left;
    /* background-color: blueviolet; */
}
#direita{
    width: 450px;
    height: 500px;
    /* background-color: brown; */
    float: right;
}
#rodape{
    width: 980px;
    height: 50px;
    /* background-color: blue; */
    margin: auto;
    clear: both;
}
.input{
    width: 100%;
    height: 30px;
}
.mensagem{
    width: 100%;
    height: 100px;
    margin-top: 10px;
}
.botao{
    width: 100%;
    height: 30px;
    border: none;
    background-color: rgb(255, 0, 0);
    padding: 5px;
    color: white;
}