body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffeeee;
}

header {
    background-color: #ff0000;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    text-align: center;
    background-color: #ffcfcf;
    padding: 10px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #660000;
    font-weight: bold;
}

section {
    padding: 20px;
}

#bemvindo {
    /* background-color: white; */
    margin: 20px;
    border-radius: 8px;
}

.imagem-aviao {
    width: 200px;
    display: flex;
    margin: 10px auto;
}

#destinos ul {
    list-style: none;
    padding-left: 0;
}

#destinos li {
    background-color: #ffdcdc;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
}

#promo {
    background-color: #ffd500;
    margin: 20px;
    padding: 20px;
}

footer {
    text-align: center;
    background-color: #cf3f3f;
    color: white;
    padding: 10px;
    margin-top: 20px;
}
