body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background: red;
  padding: 10px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  display: flex;
  gap: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  background: #b30000;
  padding: 5px 10px;
  border-radius: 3px;
}

nav a:hover {
  background: #7a0000;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: auto;
  margin-top: 20px;
}


.hero {
  background: #ffdddd;
  padding: 20px;
  border: 2px solid red;
  text-align: center;
  border-radius: 5px;
}

.hero h1 {
  margin: 0;
  color: red;
}

.btn {
  display: inline-block;
  background: red;
  color: white;
  padding: 8px 14px;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 10px;
}

.btn:hover {
  background: #990000;
}


.destaques {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.destaques article {
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
}

.destaques img {
  width: 100%;
  height: 130px;
  object-fit: cover;
}


.promo {
  background: #ffecec;
  padding: 10px;
  border-left: 4px solid red;
  border-radius: 4px;
}


.grid-produtos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 15px;
}

.produto {
  background: white;
  border: 1px solid #bbb;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
}

.produto img {
  width: 100%;
  height: 130px;
  object-fit: cover;
}


.galeria-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.galeria-grid img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}


form label {
  display: block;
  margin-bottom: 10px;
}

input, textarea {
  width: 100%;
  padding: 6px;
  border: 1px solid #aaa;
  border-radius: 3px;
}

.resposta {
  color: red;
  margin-top: 10px;
}


footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 12px;
  margin-top: 30px;
}
